{% extends "myblog/list.html" %}
{% block title %}
| {{article.title}}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/myblog/css/scrollmenu-x.css">
<style type="text/css">
/*body,input{font-size:14px; line-height:24px; color:#333; font-family:Microsoft yahei, Song, Arial, Helvetica, Tahoma, Geneva;}*/
.text{
	display:block; margin-bottom:10px; padding:5px; width:100px; border:1px #d1d1d1 solid; border-radius:5px; resize:none; outline:none;
}
/*#content #post,#comment p{zoom:1;}*/
#content #post:after,#comment p:after{display:block; height:0; clear:both; visibility:hidden; overflow:hidden; content:'.';}
.transition{-webkit-transition:all 0.5s linear; -moz-transition:all 0.5s linear; -o-transition:all 0.5s linear; -ms-transition:all 0.5s linear; transition:all 0.5s linear;}
#content{/*margin:0 auto; */margin-top:200px;width:700px; /*overflow:hidden;*/}
#content #post{margin-bottom:15px; padding-bottom:15px; border-bottom:1px #d4d4d4 dashed;
	   height: 450px;
   }
#content #post textarea{display:block; margin-bottom:10px; padding:5px; width:700px; height:100px; border:1px #d1d1d1 solid; border-radius:5px; resize:none; outline:none;}

#content #post textarea:hover{border:1px pink solid; background:rgba(255, 192, 203, 0.5);}
#content #post .text:hover{border:1px pink solid; background:rgba(255, 192, 203, 0.5);}
#content #post #postBt,#content #post #clearBt{margin-left:5px; padding:3px; float:right;}
#comment{overflow:hidden;}
#comment div{margin-bottom:10px; padding:10px; border-radius:5px;}
#comment div:nth-child(odd){border:1px solid #e3e197; background:#ffd;}
#comment div:nth-child(even){/*border:1px solid #adcd3c;*/ /*background:#f2fddb;*/
	border: 2px solid purple;
	background: transparent;}
/*#comment p span{display:inline; float:left;}*/
#comment div .right{text-align:right;}
#comment div .msg{width:738px;}
#comment div .datetime{width:200px; color:#999; text-align:right;}
td{
	width: 100px;
	height: 80px;
	padding:10px;
	vertical-align: top
}

</style>
{% endblock %}
{% block content %}
<h1>{{article.title}}</h1>
<span name="article" style="background: transparent;"></span>
<div id="content">
		<div id="post">
			<div>
				<input type="text" id="nick_name" class="text transition" placeholder="昵称">
			</div>
			<div>
				<textarea class="transition" id="user_comment" placeholder="说点啥。。。"></textarea>
			</div>
			<div>
			   <div class="panel-body" style="opacity:0.8;font-size: 20px;color: pink">
					请回答验证题目
				</div>
				
				<table>
					<tr>
						<td style="">
							<span class="label label-danger">Multiplicand</span>
						</td>
						<td>
							<div class="text transition" id='a' type="text" style="width:100%;height: 100%;overflow-y: scroll;"></div>
						</td>
					</tr>
					<tr>
						<td>
							<span class="label label-danger">Multiplier</span>
						</td>
						<td>
							<div class="text transition" id='b' type="text" style="width:100%;height:100%;overflow-y: scroll;"></div>
						</td>
					</tr>
				</table>
			</div>
			
			<input id="kta" type="text" name="" class="text transition" placeholder="输入答案" style="width: 200px">
			<input id="postBt" type="button" style="border:none; background-color:rgba(255, 192, 203, 0.5); color:white;border-radius:5px; width:80px; height:30px; outline: none" value="提交"/>
		</div>
		<div id="comment"></div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	var s1,s2
	Date.prototype.format = function(fmt) { 
	     var o = { 
	        "M+" : this.getMonth()+1,                 //月份 
	        "d+" : this.getDate(),                    //日 
	        "h+" : this.getHours(),                   //小时 
	        "m+" : this.getMinutes(),                 //分 
	        "s+" : this.getSeconds(),                 //秒 
	        "q+" : Math.floor((this.getMonth()+3)/3), //季度 
	        "S"  : this.getMilliseconds()             //毫秒 
	    }; 
	    if(/(y+)/.test(fmt)) {
	            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
	    }
	     for(var k in o) {
	        if(new RegExp("("+ k +")").test(fmt)){
	             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
	         }
	     }
	    return fmt; 
	}
	function check(){
		// alert({% url 'blog:message' %})
		// alert(document.getElementsByName('pid')[0].value)
		// alert(document.getElementsByName('content')[0].value)
		var nick_name=document.getElementById('nick_name').value
		var comment=document.getElementById('user_comment').value
		if((nick_name==''||comment=='')){
			alert("有字段为空！(╯‵□′)╯︵┻━┻")
			return false
		}else{
			if(calculate(s1[0],s2[0])==document.getElementById("kta").value){
				return true	
			}else{
				alert("验证答案错误。。。（；´д｀）ゞ")
				fresh()
				return false
			}
		}
	}

	function bigInteger_gen(){
		var len=random(1,150)
		arr=new Array(len)
		html=""
		for(i=0;i<arr.length;i++){
			arr[i]=random(i==arr.length-1,9)
		}
		for(var i=0;i<arr.length;i++){
			html+=arr[arr.length-1-i]+''
			if((i+1)%12==0)html+='<br>'
		}
		arr.push(0)
		return [arr,html]
	}
	function calculate(a,b){
		var len=a.length+b.length
		var ret=""
		c=new Array(len)
		for(i=0;i<len;i++)c[i]=0
		for(var i=0;i<b.length;i++){
			for(var j=0;j<a.length;j++){
				c[i+j]+=a[j]*b[i]
			}
		}
		x=0
		for(var i=0;i<c.length;i++){
			t=c[i]+x
			c[i]=t%10
			x=Math.floor(t/10)
		}
		if(x)c[c.length-1]=x
		// alert(c)
		var end=c.length-1
		while(end>0&&c[end]==0)end--
		for(i=end;i>=0;i--)ret+=c[i]
		return ret
	}
	function fresh(){
		s1=bigInteger_gen()
		s2=bigInteger_gen()

		document.getElementById('a').innerHTML=s1[1]
		document.getElementById('b').innerHTML=s2[1]
		// console.log()
		// alert(calculate(s1[0],s2[0]))
		// alert(calculate(new Array(5,0),new Array(7,8,0,8,3)))
		// alert(calculate(new Array(5,4,5),new Array(5,5,7,0,4)))
	}
	$(document).ready(function(){
		var list={{comments|safe}}
		var a=document.getElementsByName('article')[0]
		// body=
		a.innerHTML=HTMLdecode("{{article.body|safe}}")
		var dataHtml=""
		for(var i=0;i<list.length;i++){
			dataHtml+="<span>" +list[i]['name']+ "<span style=\"float:right\">" + list[i]['comment_time'] + "</span></span><div class='scrollmenu-x'>"+list[i]['content']+"</div>";
		}
		document.getElementById('comment').innerHTML=dataHtml
		fresh()
		$("#postBt").click(function(){
			if(check()){
				var name=$("#nick_name").val()
				var comment=$("#user_comment").val()
				var date=new Date().format("yyyy-MM-dd hh:mm:ss")
				$.ajax({
		            type: "POST",
		            dataType: "json",
		            url: "{% url 'blog:message' %}",
		            data: {
		            	'article_id':{{article.id}},
		            	'name':name,
		            	'comment':comment,
		            	'comment_time':date,
		            	'csrfmiddlewaretoken':'{{ csrf_token }}', 
		            },
		            success: function (ret) {
		            	alert("发布成功！")
		            	fresh()
		            	var html="<span class='user_name'>"+name+"<span style=\"float:right\">"+date+"</span></span><div class='scrollmenu-x'>"+comment+"</div>";
		            	$('#comment').html([$('#comment').html(),html].join(''))
		            },
		            error: function () {
		                alert('错误');
		            }
		        });
			}
		})
		
	})
	 function random(minNum, maxNum) {
		  return parseInt(Math.random() * ( maxNum - minNum + 1 ) + minNum, 10);
	}
</script>
{% endblock %}