{% extends "myblog/base.html" %}
{% block title %}
 | Home
{% endblock %}
{% block css %}


<link rel="stylesheet" type="text/css" href="/static/myblog/css/search.css">

<link rel="stylesheet" type="text/css" href="/static/myblog/css/tippy.css">
<link rel="stylesheet" type="text/css" href="/static/myblog/css/loading.css">
<link rel="stylesheet" type="text/css" href="/static/myblog/css/label.css">
<link rel="stylesheet" type="text/css" href="/static/myblog/css/keka.css">
<script type="text/javascript" src="/static/myblog/js/tippy.js"></script>

<style type="text/css">
	#result{
		margin: 0 auto;
		margin-top:20px;
		width: 100%;
		height: 500px;
		background: transparent;
		padding:10px;
		/*border-radius: 0.25em;*/
		/*border:1px solid red;*/
		display: none;
		z-index:-1;
		/*overflow: scroll;*/
		/*overflow-y: auto;*/
	}
	#content{
		width: 100%;
		/*height: 100%;*/
		height: 100%;
		/*overflow-y: auto;*/
		background-color: transparent; 
		display: none;
		z-index: 999;
	}
	#atc{
		width: 100%;
		height: auto;
	}
	.showMore{
		margin:0 auto;
		margin-top:20px;
		width: 50%;
		height: 30px;
		border-radius:0.2em;
		background: rgba(255,0,0,0.5);
		text-align: center;
		font-size: 12px;
		color:white;
		padding-top: 7px;
	}
	.showMore:hover{
			-webkit-transition: all 0.5s linear;
			-moz-transition: all 0.5s linear;
			-o-transition: all 0.5s linear;
			transition: all 0.5s linear;
			background-color: rgba(255,0,0,1);
	}
	#more{
		outline: none;
		text-decoration:none;
	}
	/*.showMore .link{
		outline: none;
		color:white;
		text-decoration:none;
		font-weight: bolder;
		font-size: 12px;
	}*/
	.excerpt .thumb{
		height: 81px;
	}
</style>
{% endblock %}
{% block content %}
<div id="container" style="margin-top:200px">
    <div class=" bar " >
            <div style="margin-top:8px;margin-left:20px">
                <!-- <form  action='#'> onsubmit="return empty()" -->
                     <input type="text" id="input" name="keyWords" placeholder="搜一搜ヾ(≧▽≦*)o">
                    <button type="button" id="go">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                <!-- </form> -->
            </div>
     </div>
</div>
<div id="result">
	<!-- 检索结果 -->
	<div class="sk-three-bounce" id="sk-three-bounce">
		<div class="sk-child sk-bounce1"></div>
		<div class="sk-child sk-bounce2"></div>
		<div class="sk-child sk-bounce3"></div>
	</div>
	<div id="content" class="scrollmenu-y">
		<div id="atc">
			
		</div>
		<a href='javascript:void(0);' id="more">
			<div class="showMore">
				显示更多
			</div>
		</a>
		<!-- javascript:void(0); -->

	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/myblog/js/search.js"></script>
<script type="text/javascript">
	var isOpen=false
	var page=1
	var html="<article class='excerpt'>\
							<header>\
								<a href='catelk' class='cate'><span class='label'>\
									ctg\
									<span class='arrow'></span>\
								</span></a>\
								<a href='lk0'><h2 class='title'>atl</h2></a>\
							</header>\
							<div class='text_date'>\
								posted by yys_c in dt\
							</div>\
							<div class='eps'>\
								<div class='focus'>\
									<a href='lk1'>\
										<img src='imglk' class='thumb' style='height:81px'>\
									 </a>\
								</div>\
								<div class='note'>\
									body\
								</div>\
							</div>\
							<div class='hoka text_date'>\
								<a href='lk2'>\
									评论(comment)\
								</a>\
								<a href='lk3'>\
									浏览量(views)\
								</a>\
							</div>\
						</article>"
	var article_ids//ajax获取数据

	var onePage=3//查询出来的数据每次显示多少
	 $(document).ready(function(){
	 	 $("#go").click(click);
	 	 $("#more").click(showMore);
	 	 $('.bar').each(function() {
	        $(this).tooltip({
	            container: 'body',
	            title: "Tips:建议结合本博客实际情况进行搜索嗷，毕竟咱们也不是度娘。。。（多关键字建议使用空格分开，准确率更高哦！）"
	        })
    	})
    });
	 function getArticle(id){
		$.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'blog:getArticleById' %}",
            data: {
            	'article_id':id,
            	'csrfmiddlewaretoken':'{{ csrf_token }}', 
            },
            success: function (ret) {
            	//得到对应文章
            	paintArticle(ret)
            },
            error: function () {
                alert('错误');
            }
        });
	}
	function paintArticle(article){
		 	$(".label").unbind("hover")
			var article_link="/blog/article/"+article['id']
			var category_link="/blog/category/"+article['category_id']
			var	taglink=""
			for(var j=0;j<article['tag_info'].length;j++){
				taglink=[taglink,"<a href='/blog/tag/"+article['tag_info'][j]['Tag_id']+"'>"+article['tag_info'][j]['Tag_name']+"</a>"].join(' ')
			}
			var html="<article class='excerpt'>\
						<header>\
							<a href='"+category_link+"' class='cate'><span class='label'>\
								"+article['category_name']+"\
								<span class='arrow'></span>\
							</span></a>\
							<a href='"+article_link+"'><h2 class='title'>"+article['title']+"</h2></a>\
						</header>\
						<div class='text_date'>\
							yys_c &nbsp;创建于&nbsp;"+article['created_time']+" &nbsp;&nbsp;修改于&nbsp;"+article['modified_time']+"\
						</div>\
						<div class='eps'>\
							<div class='focus'>\
								<a href='"+article_link+"'>\
									<img src='/media/"+article['post']+"' class='thumb'>\
								 </a>\
							</div>\
							<div class='note'>\
								"+exp_gen(article['body'])+"\
							</div>\
						</div>\
						<div class='hoka text_date'>\
							<span class='text_date'>标签:"+taglink+"</span>\
							<a href='"+article_link+"'>\
								评论("+article['comment']+")\
							</a>\
							<a href='"+article_link+"'>\
								浏览量("+article['views']+")\
							</a>\
						</div>\
					</article>"
		$("#atc").html([$("#atc").html(),html].join(''))
		$('.label').hover(function(){
			$(this).toggleClass('_active');
		})
		$('.cate').each(function() {
	        $(this).tooltip({
	            container: 'body',
	            title: '查看关于 ' + $(this).text() + ' 的文章'
	        })
    	})
	}
	 function result(){
	 	var key = $("#input").val()
	 	// keyWords=key.split(' ')
	 	// var keyWords=JSON.stringify(key.split(' '));
	 	key=key.replace(/^\s\s*/,'').replace(/\s\s*$/,'').replace(/\s+/g,' ')
	 	if(key==''){
	 		alert("？你想搞我？(╯‵□′)╯︵┻━┻")
	 		isOpen=false
	 		$("#result").fadeOut(1000)
	 		return;
	 	}
	 	 $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'blog:search' %}",
            data: {
            	'keyWords':key,
            	 'csrfmiddlewaretoken':'{{ csrf_token }}', 
            },
            success: function (ret) {
            	article_ids=ret
            	if(article_ids.length==0){
            		alert('查无此文。。。ε=ε=ε=(~￣▽￣)~')
            		$('#result').fadeOut(1000)
            		return;
            	}
            	page=1
            	$("#atc").html('')
				showMore()
	        	$("#content").fadeIn(2000)
            },
            error: function () {
                alert('错误');
            }
        });
	 	// $.get("{% url 'blog:search' %}",{'keyWords':keyWords}, function(ret){
	 	//  		//ret需要被处理

	  //       	$('#content').html(ret)
	  //       	$("#content").fadeIn(2000)
	  //    })
	 }
	 function hideAnime(){
	 	$('#sk-three-bounce').fadeOut(1000,result)
	 }
	 function hideResult(){
	 	$('#result').fadeOut(1000,click)
	 }
	 function showAnime(){
	 	$("#sk-three-bounce").fadeIn(1000,hideAnime)
	 }
	 var click = function(){
	 	if(isOpen){
	 		isOpen=false
	 		$("#content").fadeOut(1000,hideResult)
	 	}else{
	 		isOpen=true
	 		$("#result").fadeIn(500,showAnime)
	 	}
     }
     function exp_gen(str){
     	ret=HTMLdecode(str)
		var ret = ret.replace(/<.*?>/ig,"")
		ret = ret.replace(/^\s+|\s+$/g,"")
		return [ret.substring(0,180),'...'].join('')
     }
     function refresh(start,end,page){
     	for(var i=start;i<article_ids.length&&i<=end;i++){
			getArticle(article_ids[i]['id'])
		}
		// delete tippy
		// tippy=new Tippy('.tippy-arrow', { position: 'top', animation: 'shift',arrow:'true' })
     }
     function showMore(){
     	var start=((page-1)*onePage)
     	if(start>=article_ids.length){
     		$(".showMore").css('background-color',"grey")
     		// $("#more").attr('disabled',"disabled")
     		 $("#more").unbind("click")
     		return;
     	}
     	var end=start+onePage-1
     	refresh(start,end,page++)
     }
</script>
{% endblock %}