<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>l4d2服务器信息</title>
	<style type="text/css">
	</style>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	
</head>
<body>
	<div>
		<img id="bg" src="\static\img\back.jpg" style="width:100%;opacity:0.5;position: fixed;top:0px;z-index: -1">
	</div>
	<div style="font-weight:900;font-size:20px;color:#ff0000;margin-left:200px;margin-top:200px;z-index: 0;opacity: 0.5">本服务器由dqxxyysdyx | yys_c 租用</div>
	<div style="margin-left:200px;opacity: 0.5">
		<form action="{% url 'blog:advice' %}" method="post" onsubmit="return checkSubmit()">
			{% csrf_token %}
			<table>
				<tr>
					<td>
						唯一标识：
					</td>
					<td>
						<input type="text" name="sender" onblur="check(this,'text')" placeholder="邮件地址">
					</td>
					<td id="iderr"></td>
				</tr>
				<tr>
					<td>
						意见：
					</td>
					<td>
						<textarea name="advice" style="font-size: 20px;font-weight: 700"cols="50" rows="10" placeholder="请输入你的意见..." onblur="check(this,'area')"></textarea>
					</td>
					<td id="aderr">
						
					</td>
				</tr>
				<tr>
					<td>
						邮箱授权码：
					</td>
					<td>
						<input type="text" name="adcode" onblur="check(this,'code')">
					</td>
					<td id="codeerr">
						
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="" value="提交你的意见"></td>
					<td></td>
				</tr>
			</table>
			<br>
		</form>
	</div>
</body>
<script src="/static/js/iden.js"></script>
</html>