.label{
			position: relative;
			/*border: 1px solid red;*/
			background:rgba(255,94,82,1);
			display: inline-block;
			min-width: 50px;
			max-width: auto; 
			height: 20px;
			padding-top:4px;
			padding-left:5px;
			padding-right: 5px;
			padding-bottom: 5px;
			text-align: center;
			border-radius: 0.25em;
			margin-right: 8px;
			color: white;
			font-size: 12px;
/*			box-shadow:-0.5px 0px 1px 0px black,
			0px 0.5px 1px 0px black,
			0px -0.5px 1px 0px black;*/
		}	
		.arrow{
            width:0px;
            height:0px;
            border-top:5px solid rgba(255,94,82,1);
            border-right:5px solid rgba(255,94,82,1);
            border-bottom:5px solid rgba(0,255,0,0);
            border-left:5px solid rgba(0,255,0,0);
            position: absolute;
            transform: rotate(45deg);
            left:calc(100% - 5px);
            top:30%;
  /*          box-shadow: 0.5px 0px 1px 0px black,
						0px -0.5px 1px 0px black;*/
        }
        .active_label{
        	-webkit-transition: all 1s linear;
			-moz-transition: all 1s linear;
			-o-transition: all 1s linear;
			transition: all 1s linear;
			background:red;
        }
        .active_label .arrow{
        	-webkit-transition: all 1s linear;
			-moz-transition: all 1s linear;
			-o-transition: all 1s linear;
			transition: all 1s linear;
			border-top-color:red;
            border-right-color:red;
        }